.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  background-color: transparent;
  width: 100%;
  position: fixed-top;
}

.nav-heading {
  font-family: Roboto;
  font-size: 24px;
  color: #f8fafc;
}

.link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  color: #f8fafc;
}

.head-link {
  text-decoration: none;
}

.active-link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  color: #3b82f6;
}

.hamberg-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  padding-left: 0px;
}

@media screen and (min-width: 769px) {
  .nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 28px;
  }
  .hamberg-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
  .nav-heading {
    font-size: 16px;
  }
  .hamberg-button {
    display: block;
    background: none;
    border: none;
  }
}